body {
  position: relative;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 63px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 1px 0 20px 1px rgba(0, 0, 0, 0.205);
}

ul {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

ul li {
  margin-right: 0.5em;
}

.menu {
  margin: 0 5rem 0 3rem;
}

.menu a {
  color: var(--font-clrDarkBlue);
}

.socialMedia i {
  color: var(--font-clrTwitter);
}
